<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>今天天气怎么样</string>
		<key>footer</key>
		<string>今天天气怎么样</string>
		<key>cells</key>
		<array>
			<dict>
				<key>cellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>subTitle</key>
				<string>每周二四日开奖</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>title</key>
				<string>双色球</string>
			</dict>
			<dict>
				<key>cellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>subTitle</key>
				<string>每周一三五开奖</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>title</key>
				<string>大乐透</string>
			</dict>
			<dict>
				<key>cellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>subTitle</key>
				<string>每周一三五开奖</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>title</key>
				<string>七乐彩</string>
			</dict>
			<dict>
				<key>cellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>subTitle</key>
				<string>每周一三五开奖</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>title</key>
				<string>七星彩</string>
			</dict>
			<dict>
				<key>cellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>subTitle</key>
				<string>每周一三五开奖</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>title</key>
				<string>排列三</string>
			</dict>
			<dict>
				<key>cellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>subTitle</key>
				<string>每周一三五开奖</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>title</key>
				<string>排列五</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
